<header>
    <div class="container mt-4">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="/YourPrints_logo.png" alt="LOGO" height="40vh">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mx-5">
          <li><a href="/" class="nav-link px-2 link-body-emphasis">Home</a></li>
          <li><a href="/product" class="nav-link px-2 link-body-emphasis">Products</a></li>
          <li><a href="/wishlist" class="nav-link px-2 link-body-emphasis">Wishlist</a></li>
          <li><a href="/contact" class="nav-link px-2 link-body-emphasis">Contact</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control bg-light" placeholder="Search..." aria-label="Search">
        </form>
        <div class="cart mx-3">
          <ion-icon name="bag-handle"></ion-icon>
          <span class="position-absolute top-2 translate-middle badge rounded-pill bg-danger h6 px-2 py-1 fs-6">1</span>
        </div>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <!-- <li><a class="dropdown-item" href="/settings">Settings</a></li> -->
            <li><a class="dropdown-item" href="/wishlist">Wishlist</a></li>
            <li><a class="dropdown-item" href="/orders">Recent Orders</a></li>
            <li><a class="dropdown-item" href="#">Track Order</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>