.sidebar{
    height: auto;
    width: 23vw;
}
.product-page{
    width:100vw;
}
.clear-all{
    background: none;
    color: rgb(253, 107, 175);
    font-weight: bold;
    border: none;
}
.product-card-body{
    height: 200px;
    width: 250px;
}
.product-card-body img{
    height: 120px;
    width: 160px;
}
.product-card{
    height: 50vh;
    width: 20vw;
}
.products{
    display: flex;
    justify-content:center;
}
